{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="well">
    {% for category in categories %}
        <a href="{{ path('category.show', {'slug': category.slug}) }}">{{ category.name }}</a>

        <a href="#" class="pull-right">
            <i class="fas fa-rss-square" aria-hidden="true"></i>
            Feed
        </a>
</div>
        <table class="table text-center">
            <tr>
                <th class="active text-center">City</th>
                <th class="active text-center">Position</th>
                <th class="active text-center">Company</th>
            </tr>
            {% for job in category.activeJobs %}
                <tr>
                    <td>{{ job.location }}</td>
                    <td>
                        <a href="{{ path('job.show', { 'id': job.id, 'company': job.companyslug, 'location': job.locationslug, 'position': job.positionslug }) }}">
                            {{ job.position }}
                        </a>
                    </td>
                    <td>{{ job.company }}</td>
                </tr>
            {% endfor %}

            {% if category.moreJobs %}
                <tr>
                    <td class="active"></td>
                    <td class="active"></td>
                    <td class="active">
                        and <a href="{{ path('category.show', { 'slug': category.slug }) }}">{{ category.moreJobs }}</a> more...
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
