{% extends 'base.html.twig' %}

{% block title %}
    {{ job.company }} is looking for a {{ job.position }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/job.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
    {% if app.request.get('token') %}
        {% include 'job/admin.html.twig' with {'job': job} %}
    {% endif %}
    <div class="media" style="margin-top: 60px;">
        <div class="media-left">
            <a href="#">
                <img class="media-object" style="width:100px;height:100px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQajn0f2wRI-24wN9kjM0PxT0XoOALdvODWJYOZ3dhpZAlXw2Ck">
            </a>
        </div>
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading"><strong>{{ job.company }}</strong> <i>({{ job.location }})</i></h3>
                </div>
                <div class="col-sm-2">
                    <i class="pull-right">posted on {{ job.createdat|date('m/d/Y') }}</i>
                </div>
            </div>

            <h4 style="margin-top: 20px; margin-bottom: 20px;">
                <strong>{{ job.position }}</strong>
                <small> - <i>{{ job.type }}</i></small>
            </h4>

            <h5>{{ job.description|nl2br }}</h5>

            <div style="margin-top: 40px;">
                <strong>How to apply?</strong>
                <h5>{{ job.howtoapply }}</h5>
            </div>

            <a class="btn btn-primary pull-right" href="{{ path('job.edit', { 'token': job.token }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-right: 5px;"></span>
                Edit
            </a>
        </div>
    </div>
{% endblock %}
