{% extends 'base.html.twig' %}

{% block title %}
    Jobs in the {{ category.name }} category
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
    <div class="well">
        <div class="row">
            <div class="col-sm-10">
                <h4>{{ category.name }}</h4>
            </div>
            <div class="col-sm-2">
                <a href="#" class="btn btn-primary pull-right">
                    <i class="fas fa-rss-square" aria-hidden="true"></i>
                    Feed
                </a>
            </div>
        </div>
    </div>

    {{ include('job/list.html.twig') }}

    <div class="col-sm-3" style="margin-top: 20px;">
        <i>{{ totalJobs }} jobs in this category
        {% if lastPage > 1 %}
            - page {{ currentPage }}/{{ lastPage }}</i>
        {% endif %}
    </div>

    <div>
        {% if lastPage > 1 %}
            <nav>
                <ul class="pagination">
                    <li class="{{ currentPage == 1 ? 'disabled' : '' }}">
                        <a href="{{ path('category.show', { 'slug': category.slug, 'page': previousPage }) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in 1..lastPage %}
                        {% if page == currentPage %}
                            <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="{{ path('category.show', { 'slug': category.slug, 'page': page }) }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="{{ currentPage == lastPage ? 'disabled' : '' }}">
                        <a href="{{ path('category.show', { 'slug': category.slug, 'page': nextPage }) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}
